{% extends 'base.html.twig' %}

{% block title %}Edit Habitacio{% endblock %}

{% block body %}
    <div class="text-center">
        <h2>Edit Habitacio</h2>
    </div>

    {{ include('habitacio/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
